@font-face {
	font-family: 'campton-extralight';
	src: url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_extralight-webfont.woff2') format('woff2'),
		url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'campton-medium';
	src: url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_medium-webfont.woff2') format('woff2'),
		url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'campton-thin';
	src: url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_thin-webfont.woff2') format('woff2'),
		url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/rene_bieder_-_campton_thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sohopro-regular';
	src: url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/SohoPro-Regular.woff2') format('woff2'),
		url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/SohoPro-Regular.woff') format('woff'),
    url('https://d2hjocz4h0f77r.cloudfront.net/lp/fonts/SohoPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
