@font-face {
	font-family: 'campton-extralight';
	src: url('../fonts/rene_bieder_-_campton_extralight-webfont.woff2') format('woff2'),
		url('../fonts/rene_bieder_-_campton_extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'campton-medium';
	src: url('../fonts/rene_bieder_-_campton_medium-webfont.woff2') format('woff2'),
		url('../fonts/rene_bieder_-_campton_medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'campton-thin';
	src: url('../fonts/rene_bieder_-_campton_thin-webfont.woff2') format('woff2'),
		url('../fonts/rene_bieder_-_campton_thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shohopro-regular';
	src: url('../fonts/SohoPro-Regular.woff2') format('woff2'),
		url('../fonts/SohoPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
