// bower:scss
// endbower




$mob1: 360px;

$tabl1: 640px;

$desk1: 960px;


.site-logo {
  text-align: center;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 22px;
  width: 143px;
  height: 85px;
  img {
    width: 100%;
  }
  @include breakpoint($tabl1) {
    width: 167px;
    height: 100px;
  }
  @include breakpoint($desk1) {
    width: 240px;
    height: 144px;
  }
}



.hero {
  position: relative;
  height: 69.375vw;

  background: #fff url('/images/anne-und-stefan-mobile.jpg') top center no-repeat;
  background-size: cover;


  @include breakpoint($tabl1) {
    height: 300px;
  }
  @include breakpoint($desk1) {
    height: 609px;
  }
    
}

.site-header {
  color: #fff;
  text-transform: uppercase;
  font-family: 'sohopro-regular', sans-serif;
  font-size: 15px;
  line-height: 23px;

  position: absolute;
  left: 20px;
  bottom: 23px;

  letter-spacing: 4.5px;

}
.site-header__subhead {
  display: block;
  font-family: 'campton-extralight', sans-serif;
  font-size: 8px;
  line-height: 32px;

  letter-spacing: 2.4px;
  padding-left: 7px;
}


.wrapper {
  text-align: center;
}
